<div class="jumbotron text-center" ng-show="tracks">
	<h1>Affinity</h1>
	<br />
	<table class="table table-striped">
		<thead class="thead-inverse">
			<tr>
				<th>
					#
				</th>
				<th>
					Song
				</th>
				<th>
					Album
				</th>
				<th>
					Artist
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="data in tracks">
				<th scope="row">
					{{$index + 1}}
				</th>

				<td ng-click="songFactory(data.name, data.artists[0].name, data.album.images[0].url, data.preview_url, '/app/album/' + data.album.id)">

					<div class="trackName">

						{{data.name}}

					</div>
				</td>

				<td>
					<div class="albumName">
						<a href="/app/album/{{data.album.id}}">
							<div>
								{{data.album.name}}
							</div>
						</a>
					</div>
				</td>
				<td>
					{{data.artists[0].name}}
				</td>
			</tr>
		</tbody>
	</table>
</div>